# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Cache files
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Configurations
*.env
*.ini
*.cfg
